body{
    margin: 0;
}
h1{
    margin: 0;
}
div{
    background-color: #E4F9F5;
    margin: 0;
}
.badal{
    
    height:100px;
    width:200px;
}
.badal2{
    display:fixed;
    right:0px;
    top:0px;
    height:100px;
    width:200px;
}